.single-products{
    margin-top: 80px;
}

.single-products .col-2 img{
    padding: 0;

}

.single-products .col-2{
    padding: 20px;
}

.single-products h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
} 

.single-products select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-products input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff0000;
}

input:focus{
    outline: none;
}

.single-products .fa{
    color: #ff0000;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

 .row-2 {
    
    padding: 36px;
    
    
}








